html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Impede a rolagem vertical */
}

main {
  min-height: 60vh; /* Ajuste a altura mínima conforme necessário */
}

.grafico-container {
  height: 500px;
  width: 500px; 
  margin: 0 auto; 
  padding: 300px;
  border-radius: 8px; 
  justify-content: center;
}

